.Lottery-component {
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.15);
  width: 50%;
  margin: auto;
  padding: 2em;
  margin-top: 3em;
}

.Lottery-component button {
  margin-top: 1rem;
  padding: 2em;
  border: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
}
